body{

    background-color: rgb(255, 255, 255);
    
}

.tl{

    background: #ffd900;

}

.back1{

    font-weight: 700;
    position: relative;
    top: 300px;

}

.card-img{

    background-color: rgb(15, 15, 15);
    background-blend-mode: multiply;
    padding: 0%;
    background-repeat: no-repeat;
    background-size: cover;

}


.hh{

    font-size: 70px;

}

#batext {

    color: rgba(48, 48, 48, 0.863);
    font-size: 22px;
    display: block;

}


.c1{

    padding: 1.5em, 5em, 5em, 5em;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 5px 10px;

}

.btn-dark{

    border-radius: 2em;
    padding: .1em;

}

.profile-area{

    background: linear-gradient(to bottom #ffd900 100%);
    display: flex;
    flex-direction: column;
    margin-top: -6%;

}

.img-rounded{

    border-radius: 30px;
    box-shadow: 8px 14px 20px 0px rgb(240, 229, 133)

}



.snb{

    padding-bottom: 3px;
    position: relative;
    top: 17%;

}

.bg-warning{

    padding-top: 50px;

}

.cn{
   
    max-width: 180px;
    max-height: 180px;
    padding: 30px;

}

.card {

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 25px;

}

.btn {

    display: inline-block;
    position: absolute;
    bottom: -5%;
    left: 1.4cm;
    margin: auto;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.card.c1 {

    border-radius: 25px;
    margin-top: 28px;
    z-index: 9999;

}



.fill-yellow{

    background-color: #ffd900;
    height: 175px;
    position: relative;
    top: -101px;

}

.png {

    list-style: none;

}

.fill-yellows {

    background-color: #ffd900;
    height: 175px;
    position: relative;
    top: -101px;
    
}

.s1{

    z-index: 9999;
    margin-top: 28px;

}

@media (min-width: 400px) { 

    h1.display-4 {

        margin-top: 60px;

    }

    .ght {    

        top: 2510px;
        position: relative;
        display: block;
   }

}

@media (min-width: 769px) {

    .ght{
    
        display: block;
        position: relative!important;
        top: 1831px!important;

    }

}

@media (min-width: 320px) {

    .ght{
    
        display: block;
        position: relative;
        top: 2660px;
    
    }

    .snb {
        padding-bottom: 3px;
        position: relative;
        top: -10%;
    }

}